checkpoints
clockInfo.txt
compile_simlib.log
compile_simlib.log.bak
.cxl
.cxl.xil_xsim.version
.cxl_xsim.version
.cxl.xsim.g++.version
output
snapshot_synth_timesim.wdb
.timestamp.*
xelab.pb
.Xil
xsim.dir
xsim.ini
xsim.ini.bak
xsim.ini.map
xsim.jou
xvlog.pb
ip/catalog.txt
ip/config_templates/*
sim_libs

